# Ignore virtual environment
venv/
env/
tfenv/
.venv/
ENV/

# Bytecode and cache
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# Model files (if you're not sharing the model)
*.h5
*.pkl
*.joblib

# OS files
.DS_Store
Thumbs.db

# VSCode/IDE settings
.vscode/
.idea/

# Logs and temporary files
*.log
*.tmp
*.bak

# Streamlit specific
.streamlit/config.toml
